name: cent_music
description: CENT Music Streaming Platform
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  youtube_explode_dart: ^2.2.2
  youtube_player_flutter: ^9.1.1
  shared_preferences: ^2.2.2
  cached_network_image: ^3.3.1
  flutter_inappwebview: ^6.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  
