name: smart_music_app_cent
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  just_audio: ^0.9.36
  audio_service: ^0.18.12
  audio_session: ^0.1.18
  rxdart: ^0.27.7
  on_audio_query: ^2.8.2
  permission_handler: ^11.0.1
  path_provider: ^2.1.1
  crypto: ^3.0.3
  get: ^4.6.6
  http: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  
