name: Build APK Final
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - name: Install Dependencies
        run: |
          if [ -d "frontend" ]; then cd frontend; fi
          flutter pub get
      - name: Build APK
        run: |
          if [ -d "frontend" ]; then cd frontend; fi
          flutter build apk --release
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
          
