name: Build APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # تحديث للإصدار الجديد
      - uses: subosito/flutter-action@v2 # تحديث للإصدار الجديد
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: |
          if [ -d "frontend" ]; then cd frontend; fi
          flutter pub get
          
      - name: Build APK
        run: |
          if [ -d "frontend" ]; then cd frontend; fi
          flutter build apk --release
          
      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # تحديث للإصدار الجديد
        with:
          name: app-release
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
          
