name: Global Auto Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Find and Build
        run: |
          PROJECT_PATH=$(find . -name "pubspec.yaml" -exec dirname {} \; | head -n 1)
          echo "Project found at: $PROJECT_PATH"
          cd "$PROJECT_PATH"
          flutter pub get
          flutter build apk --release --no-tree-shake-icons

      - name: Universal Upload
        uses: actions/upload-artifact@v4
        with:
          name: final-mobile-app
          path: "**/*.apk"
          
