name: Final Boss Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Locate and Build
        run: |
          FLUTTER_PATH=$(find . -name "pubspec.yaml" -exec dirname {} \; | head -n 1)
          cd "$FLUTTER_PATH"
          flutter pub get
          flutter build apk --release --no-tree-shake-icons

      - name: Deliver APK
        uses: actions/upload-artifact@v4
        with:
          name: final-app-release
          path: "**/build/app/outputs/flutter-apk/app-release.apk"
          
