name: Cent Supreme Build Engine

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
          cache: 'gradle'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
          cache: true

      - name: System Preparation & Auto Fix
        run: |
          flutter clean
          flutter pub get
          dart format .
          flutter analyze --fatal-infos || true

      - name: Build Android Release APK
        run: |
          flutter build apk --release --no-tree-shake-icons --build-number=${{ github.run_number }}

      - name: Upload Cent Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Cent-Release-V${{ github.run_number }}
          path: build/app/outputs/flutter-apk/app-release.apk
          retention-days: 7
          
