name: Build APK

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 'any'
        channel: 'stable'

    - name: Repair Project
      run: |
        flutter clean
        flutter pub get

    - name: Build Debug APK
      run: flutter build apk --debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: smart-music-apk
        path: build/app/outputs/flutter-apk/app-debug.apk
        
